######################################################################################
# Sample of application properties config file.
# Rename it to applicaiton.properties.
# Define property values.
######################################################################################

## IAM profile name
#iam.profile=
## CreateKinesisStreamCommand
kinesis.streamName=SandboxJavaSDK
createKinesisStream.shardsCount=1